<%= stylesheet_link_tag 'main' %>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Wheel of Misfortune</a>
  <a class="btn btn-outline-primary" href="/scoreboard" role="button">High Scores</a>
  <a class="btn btn-outline-success" href="/new" data-turbolinks="false" role="button">New Game</a>
</nav>

<h1>Welcome to Wheel of Misfortune</h1>