<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Wheel of Misfortune</a>
  <a class="btn btn-outline-primary" href="/scoreboard" role="button">High Scores</a>
</nav>

<% content_for :head do %>
  <%= javascript_pack_tag 'create' %>
  <%= stylesheet_pack_tag 'create' %>
<% end %>