// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

  background: #2d2e30;
  color: white;
}

// .blue-btn {
//   font-size: 2rem;
//   color: white;

//   border: none;
//   border-radius: 5px;

//   background-image: linear-gradient( 0.2deg,  rgba(51,204,255,1) 4.8%, rgba(51,102,255,1) 85.5% );
// }
